<div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Tài khoản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!-- customer login start -->
<div class="login_page_bg">
    <div class="container">
        <div class="customer_login">
            <div class="row">
               <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form login">
                        <h2>Đăng nhập</h2>
                        <form action="#">
                            <p>   
                                <label>Tên tài khoản, email, số điện thoại <span>*</span></label>
                                <input type="text">
                             </p>
                             <p>   
                                <label>Mật khẩu <span>*</span></label>
                                <input type="password">
                             </p>   
                            <div class="login_submit">
                               <a href="#">Lost your password?</a>
                                <label for="remember">
                                    <input id="remember" type="checkbox">
                                    Ghi nhớ đăng nhập
                                </label>
                                <button type="submit">Đăng nhập</button>

                            </div>

                        </form>
                     </div>    
                </div>
                <!--login area start-->

                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register">
                        <h2>Đăng ký</h2>
                        <form action="#">
                            <p>   
                                <label>Tên đăng nhập <span>*</span></label>
                                <input type="text">
                             </p>
                            <p>   
                                <label>Email  <span>*</span></label>
                                <input type="text">
                             </p>
                             
                             <p>   
                                <label>Mật khẩu <span>*</span></label>
                                <input type="password">
                             </p>
                             <p>   
                                <label>Họ tên <span>*</span></label>
                                <input type="text">
                             </p>
                             <p>   
                                <label>giới tính </label>
                                <select class="form-control" name="gioitinh" id=""> 
                                     <option type="radio" name="gioitinh" value="nam"> nam</option>
                                    <option type="radio" name="gioitinh" value="nữ"> nữ</option>
                                    <option type="radio" name="gioitinh" value="khác"> khác</option>
                                </select>
                             </p>
                             <p>   
                                <label>Ngày sinh</label>
                                <input type="date" >
                             </p>
                            <div class="login_submit">
                                <button type="submit">Đăng ký</button>
                            </div>
                        </form>
                    </div>    
                </div>
                <!--register area end-->
            </div>   
        </div>
    </div>
</div>